<ng-template #Profile let-profile="profile">
  <app-profile [profile]="profile"></app-profile>
</ng-template>
<div>
  {{connected|json}}
</div>
<ion-list>
  <!-- <ion-list-header>Profiles</ion-list-header> |filter:CosecDevice.id;"-->
  <ng-container
    *ngFor="let profile of profiles"
    [ngTemplateOutlet]="Profile"
    [ngTemplateOutletContext]="{profile:profile}"
  >
  </ng-container>
</ion-list>

<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
  <ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>
