  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="ion-fab-create"
  >
    <ion-fab-button>
      <ion-icon name="add" (click)="presentModal()"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-col size="12">
    <ion-row style="margin-top: 40px;">
      <ion-col
        [size]="12/all_devices.length"
        *ngFor="let device of all_devices;let i = index;"
      >
        <app-listing [CosecDevice]="device"></app-listing>
      </ion-col>
    </ion-row>
  </ion-col>
